@import "CSS/reset.css";
@import "CSS/common.css";
@import "CSS/flex.css";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

/* icon section */

.icon-main-title {
  text-align: center;
}

.icon-container-flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.icon-card {
  text-align: center;
  flex-basis: 23%;
  flex-grow: 1;
}

.card-50 {
  flex-basis: 47%;
}

.card-100 {
  flex-basis: 100%;
}
