* {
  box-sizing: border-box;
}

body {
  padding: 85px;
  padding-top: 30px;
  background-color: rgb(243, 240, 240);
}
header {
  text-align: center;
  margin-bottom: 60px;
  padding-left: 170px;
  padding-right: 200px;
}

.sub-title {
  font-size: 15px;
  font-family: Arial;
  color: grey;
}
p {
  font-size: 15px;
  font-family: Arial;
  color: grey;
}

h3 {
  font-family: Arial;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
}

.service-card {
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  width: 30%;
}

.fa-bomb:before {
  font-size: 35px;
}

.fa-laptop:before {
  font-size: 35px;
}

.fa-camera-retro:before {
  font-size: 35px;
}

.fa-picture-o:before {
  font-size: 35px;
}

.fa-tablet:before {
  font-size: 35px;
}

.fa-rocket:before {
  font-size: 35px;
}

.service-image:hover {
  color: red;
}
